# Providers
# available options: lmstudio, google, gemini, openai
VLM_PROVIDER=lmstudio
EMBEDDING_PROVIDER=lmstudio

#DB
DB_PASSWORD=
DB_NAME=knu-uic
DB_USER=knu-uic
DB_HOST=localhost
DB_PORT=5432

# Models
LLM_MODEL=gemma-4-e4b
EMBEDDING_MODEL=text-embedding-nomic-embed-text-v1.5
RERANKER_MODEL=BAAI/bge-reranker-v2-m3


# LM Studio
LMSTUDIO_BASE_URL=http://localhost:1234/v1

#Config
RERANKER_MAX_LENGTH=512
LLM_CONTEXT_WINDOW_TOKENS=8192
LLM_CONTEXT_USAGE_RATIO=0.8
LLM_CHARS_PER_TOKEN=1.4
REFINE_CONTEXT_RATIO_MULTIPLIER=0.35


# API Keys
GOOGLE_API_KEY=
GEMINI_API_KEY=
OPENAI_API_KEY=
